<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>877054343717-00kb3o1ktk9fp774pfttcmkq92vfmfkp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877054343717-00kb3o1ktk9fp774pfttcmkq92vfmfkp</string>
	<key>API_KEY</key>
	<string>AIzaSyC-MIKYWI2wSJvXHaCQqYXVO460GmFhg4U</string>
	<key>GCM_SENDER_ID</key>
	<string>877054343717</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-a12c2</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-a12c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877054343717:ios:f125670b3dda1353349dcc</string>
</dict>
</plist>